<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Literata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="device/%s">
    <meta charset="UTF-8">
    <title>%s</title>
</head>
<body>
    <a href="?page=%s" class="touch-link" id="left"></a>
    <a href="?page=%s" class="touch-link" id="right"></a>
    <div id="content">%s</div>
</body>
</html>