<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="~{fragments/general.html :: headerfiles(title=${title})}">
        <title>Replaced</title>
    </head>
    <body>
        <div th:replace="~{fragments/render.html :: menu(book=${book}, previous=${previous}, next=${next}, calibrate=${calibrate})}" ></div>
        <a onclick="toggleMenu();" class="touch-link" id="top"></a>
        <a onclick="toggleMenu();" class="touch-link" id="bottom"></a>
        <a onclick="prevPage();" class="touch-link" id="left"></a>
        <a onclick="nextPage();" class="touch-link" id="right"></a>
        <div th:style="${contentStyle}" id="content" th:utext="${content.body()}"></div>
    </body>
</html>