html {
    font-size: 24px;
}

:root {
    font-size: 24px;
}

body {
    font-size: 24px;
}

div#content {
    /*border: 1px solid #000;*/
    box-sizing: border-box;
    height: 890px;
    width: 740px;
    overflow: hidden;
}