a.touch-link {
    position: absolute;
    display: block;
    height: 100%;
    width: 50%;
    top: 0;
    outline : none;
}
    a.touch-link#left {
        left: 0;
    }
    a.touch-link#right {
        right: 0;
    }

div#content {
    padding: 20px;
    text-align: justify;
    font-size: 1em;
    line-height: 1.4em;
    word-wrap: break-word;
    font-family: 'Literata', serif;
}

p {
    margin: 0 0 1em 0;
}