<!DOCTYPE HTML>
<!--suppress CheckEmptyScriptTag, HtmlRequiredLangAttribute, HtmlUnknownTarget, HtmlRequiredTitleElement -->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="headerfiles (title)">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Literata&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/content.css">
        <script async="" type="text/javascript" src="/js/main.js"></script>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex">
        <title th:text="${title}" />
    </head>
    <body>
        <div style="visibility: hidden;" id="menu" th:fragment="menuBrowse (base, proxy, book)">
            <a id="home" class="button-menu" href="/">
                <div class="icon"><img alt="Home Icon" src="/img/home-solid.svg"></div>
                <div class="title"><span>Home</span></div>
            </a>
            <a id="list" class="button-menu" th:href="${base}">
                <div class="icon"><img alt="Full List Icon" src="/img/list-solid.svg"></div>
                <div class="title"><span>Full List</span></div>
            </a>
            <form id="search" method="GET">
                <input th:if="${book != null}" type="hidden" name="book" th:value="${book}">
                <input th:if="${proxy != null}" type="hidden" name="proxy" th:value="${proxy}">
                <div>
                    <input type="text" name="search">
                </div>
                <button>
                    <span class="icon"><img alt="Search Icon" src="/img/search-solid.svg"></span>
                    <span class="title"><span>Search</span></span>
                </button>
            </form>
        </div>
    </body>
</html>