<!DOCTYPE HTML>
<!--suppress CheckEmptyScriptTag, HtmlRequiredLangAttribute, HtmlUnknownTarget, HtmlRequiredTitleElement -->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="headerfiles (title)">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Literata&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/content.css">
        <script async="" type="text/javascript" src="/js/main.js"></script>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex">
        <title th:text="${title}" />
    </head>
    <body>
    
    </body>
</html>