html {
    min-height: 100%;
    position: relative;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 24px;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.touch-link {
    position: absolute;
    display: block;
    outline: none;
    cursor: pointer;
    z-index: 100;
}
    .touch-link#top {
        height: 20%;
        width: 100%;
        left: 0;
        top: 0;
    }
    .touch-link#left {
        height: 80%;
        width: 50%;
        left: 0;
        bottom: 0;
    }
    .touch-link#right {
        height: 80%;
        width: 50%;
        right: 0;
        bottom: 0;
    }
    .touch-link#bottom {
        height: calc(100% - 4.9em - 2px);
        width: 100%;
        right: 0;
        bottom: 0;
        z-index: 500 !important;
        visibility: hidden;
    }

#calibrate-js-fail {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 500;
    background-color: #FFF;
    text-align: center;
    vertical-align: middle;
}

div#menu {
    position: absolute;
    display: block;
    height: calc(4.9em + 2px);
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid gray;
    visibility: hidden;
    background-color: #FFF;
    z-index: 200;
}
    div#menu a.button-menu {
        position: relative;
        display: block;
        outline: none;
        height: 3.9em;
        width: 20%;
        color: #000000;
        text-decoration: none;
        padding: 0.5em 0 0.5em;
        float: left;
    }
        div#menu a.button-menu .icon {
            position: relative;
            display: block;
            width: 100%;
            height: 2em;
            text-align: center;
            vertical-align: middle;
            padding-bottom: 0.5em;
        }
            div#menu a.button-menu .icon img {
                height: 2em;
            }
        div#menu a.button-menu .title {
            position: relative;
            display: block;
            width: 100%;
            height: 1.4rem;
            font-size: 0.7em;
            line-height: 1.4rem;
            text-align: center;
            vertical-align: middle;
        }

div#page {
    padding: 0 2em 2em 2em;
}

div#content {
    letter-spacing: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 2em;
    text-align: justify;
    font-size: 1em;
    line-height: 1.4em;
    word-wrap: break-word;
    font-family: 'Literata', serif;
}
    div#content p {
        margin: 0 0 1em 0;
    }
        div#content p:last-child {
            margin: 0 0 0 0;
        }

div#chapter-transition {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
    div#transition-table {
        display: table-cell;
        vertical-align: middle;
    }
    div#transition-table div {
        margin-left: auto;
        margin-right: auto;
        padding: 2em;
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
    }

div.char-test {
    line-height: 1em;
    position: absolute;
    visibility: visible;
    height: auto;
    width: auto;
    white-space: nowrap;
}