html {
    min-height: 100%;
    position: relative;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 24px;
}

h1 {
    line-height: 4rem;
    margin: 1.5rem 0 1.5rem 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.touch-link {
    position: absolute;
    display: block;
    outline: none;
    cursor: pointer;
    z-index: 100;
}
    .touch-link#top {
        position: fixed !important;
        height: 5em;
        width: 100%;
        left: 0;
        top: 0;
    }
    .touch-link#left {
        position: fixed !important;
        height: 80%;
        width: 50%;
        left: 0;
        bottom: 0;
    }
    .touch-link#right {
        position: fixed !important;
        height: 80%;
        width: 50%;
        right: 0;
        bottom: 0;
    }
    .touch-link#bottom {
        position: fixed !important;
        height: 80%;
        width: 100%;
        right: 0;
        bottom: 0;
        z-index: 500 !important;
        visibility: hidden;
    }

#calibrate-js-fail {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 500;
    background-color: #FFF;
    text-align: center;
    vertical-align: middle;
}

/*noinspection CssOverwrittenProperties*/
div#menu {
    position: fixed;
    display: block;
    height: 5em;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid gray;
    visibility: hidden;
    background-color: #FFF;
    z-index: 200;
}
div#menu.header-menu {
    position: relative;
    display: block;
    visibility: visible;
}
    div#menu span.menu-spacer {
        position: relative;
        display: block;
        outline: none;
        height: 4em;
        width: 20%;
        color: #000000;
        text-decoration: none;
        padding: 1em 0 0 0;
        float: left;
    }
    div#menu a.button-menu {
        position: relative;
        display: block;
        outline: none;
        height: 4em;
        width: 20%;
        color: #000000;
        text-decoration: none !important;
        padding: 1em 0 0 0;
        float: left;
    }
        div#menu a.button-menu.disabled {
            text-decoration: none;
            pointer-events: none;
            opacity: 0.5;
        }
        div#menu .icon {
            position: relative;
            display: block;
            height: 2em;
            text-align: center;
            vertical-align: middle;
            padding-bottom: 0.5em;
        }
            div#menu .icon img {
                height: 2em;
            }
        div#menu .title {
            position: relative;
            display: block;
            width: 100%;
            height: 1.5em;
            font-size: 0.7em;
            line-height: 1.5em;
            text-align: center;
            vertical-align: middle;
        }
    div#menu form#search {
        display: block;
        outline: none;
        height: 5em;
        width: 60%;
        color: #000000;
        text-decoration: none;
        float: left;
    }
        div#menu form#search div {
            position: relative;
            display: block;
            outline: none;
            height: 4em;
            width: 67%;
            color: #000000;
            text-decoration: none;
            float: left;
            text-align: center;
        }
            div#menu form#search input {
                font-size: 1.5em;
                margin: 1em;
                width: 90%;
                border: 1px solid #000000;
                border-radius: 5px;
            }
        div#menu form#search button {
            border: 0;
            background-color: #FFFFFF;
            width: 33%;
            height: 4em;
            font-size: 1em;
            color: #000000;
            text-decoration: none;
            padding: 1em 0 0 0;
            cursor: pointer;
        }

div#page {
    padding: 0 2em 2em 2em;
}

div#chapter-transition {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
    div#transition-table {
        display: table-cell;
        vertical-align: middle;
    }
    div#transition-table div {
        margin-left: auto;
        margin-right: auto;
        padding: 2em;
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
    }

div.char-test {
    line-height: 1em;
    position: absolute;
    visibility: visible;
    height: auto;
    width: auto;
    white-space: nowrap;
}

div#settings-buttons {
    margin: 4em 0 0 0;
    display: table;
    table-layout: auto;
    width: 100%;
}
    div#settings-buttons div.button-row {
        display: table-row;
    }
    div#settings-buttons div.button-row div.button-cell {
        display: table-cell;
        width: 45%;
        padding: 0 5% 0 0;
    }
    div#settings-buttons div.button-row div.button-cell:last-child {
        padding: 0 0 0 5%;
    }
    div#settings-buttons input {
        height: 4.5em;
        line-height: 3em;
        padding: 0;
        border: 0;
        width: 100%;
        background-color: #000;
        color: #FFF;
        cursor: pointer;
    }

div#settings-font-size {
    height: 4.5em;
    line-height: 3em;
    width: 100%;
    position: relative;
}
    div#settings-font-size a {
        height: 3em;
        line-height: 3em;
        margin: 0 0.5em 0 0.5em;
        float: right;
        cursor: pointer;
    }
    div#settings-font-size img {
        height: 3em;
        width: 3em;
    }
    div#settings-font-size #settings-font-size-value {
        font-size: 3em;
        float: right;
    }
    div#settings-font-size .boxes {
        position: absolute;
        bottom: 0;
        display: table;
        height: 0.5em;
        width: 100%;
    }
        div#settings-font-size .boxes .box-cell {
            display: table-cell;
            width: 10.2%;
            padding: 0 2% 0 0;
        }
            div#settings-font-size .boxes .box-cell:last-child {
                padding: 0;
                width: 8.2%;
            }
            div#settings-font-size .boxes span {
                display: block;
                height: 0.5em;
                border: 2px #000000 solid;
            }
                div#settings-font-size .boxes span.active {
                    background-color: #000000;
                }
