<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Literata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script async="" type="text/javascript" src="/js/calibrate.js"></script>
    <meta charset="UTF-8">
    <title>Calibrate Device</title>
</head>
<body>
<a onclick="calibrate();" id="calibrate-js-fail">Calibrate</a>
<div id="chapter">
    <div class="char-test">a</div><br>
    <div class="char-test">A</div><br>
    <div class="char-test">b</div><br>
    <div class="char-test">B</div><br>
    <div class="char-test">c</div><br>
    <div class="char-test">C</div><br>
    <div class="char-test">d</div><br>
    <div class="char-test">D</div><br>
    <div class="char-test">e</div><br>
    <div class="char-test">E</div><br>
    <div class="char-test">f</div><br>
    <div class="char-test">F</div><br>
    <div class="char-test">g</div><br>
    <div class="char-test">G</div><br>
    <div class="char-test">h</div><br>
    <div class="char-test">H</div><br>
    <div class="char-test">i</div><br>
    <div class="char-test">I</div><br>
    <div class="char-test">j</div><br>
    <div class="char-test">J</div><br>
    <div class="char-test">k</div><br>
    <div class="char-test">K</div><br>
    <div class="char-test">l</div><br>
    <div class="char-test">L</div><br>
    <div class="char-test">m</div><br>
    <div class="char-test">M</div><br>
    <div class="char-test">o</div><br>
    <div class="char-test">O</div><br>
    <div class="char-test">p</div><br>
    <div class="char-test">P</div><br>
    <div class="char-test">q</div><br>
    <div class="char-test">Q</div><br>
    <div class="char-test">r</div><br>
    <div class="char-test">R</div><br>
    <div class="char-test">s</div><br>
    <div class="char-test">S</div><br>
    <div class="char-test">t</div><br>
    <div class="char-test">T</div><br>
    <div class="char-test">u</div><br>
    <div class="char-test">U</div><br>
    <div class="char-test">v</div><br>
    <div class="char-test">V</div><br>
    <div class="char-test">w</div><br>
    <div class="char-test">W</div><br>
    <div class="char-test">y</div><br>
    <div class="char-test">Y</div><br>
    <div class="char-test">z</div><br>
    <div class="char-test">Z</div><br>
    <div class="char-test"> </div><br>
    <div class="char-test">.</div><br>
    <div class="char-test">,</div><br>
    <div class="char-test">"</div><br>
    <div class="char-test">'</div><br>
    <div class="char-test">!</div><br>
    <div class="char-test">?</div><br>
    <div class="char-test">“</div><br>
    <div class="char-test">”</div><br>
</div>
</body>
</html>