<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/general.html :: headerfiles(title='Calibrating Device')}">
    <title>Replaced</title>
</head>
<body>
<a onclick="calibrate();" id="calibrate-js-fail">Calibrate</a>
<div id="content" th:style="${contentStyle}">
    <div class="char-test">a</div>
    <div class="char-test">A</div>
    <div class="char-test">b</div>
    <div class="char-test">B</div>
    <div class="char-test">c</div>
    <div class="char-test">C</div>
    <div class="char-test">d</div>
    <div class="char-test">D</div>
    <div class="char-test">e</div>
    <div class="char-test">E</div>
    <div class="char-test">f</div>
    <div class="char-test">F</div>
    <div class="char-test">g</div>
    <div class="char-test">G</div>
    <div class="char-test">h</div>
    <div class="char-test">H</div>
    <div class="char-test">i</div>
    <div class="char-test">I</div>
    <div class="char-test">j</div>
    <div class="char-test">J</div>
    <div class="char-test">k</div>
    <div class="char-test">K</div>
    <div class="char-test">l</div>
    <div class="char-test">L</div>
    <div class="char-test">m</div>
    <div class="char-test">M</div>
    <div class="char-test">o</div>
    <div class="char-test">O</div>
    <div class="char-test">p</div>
    <div class="char-test">P</div>
    <div class="char-test">q</div>
    <div class="char-test">Q</div>
    <div class="char-test">r</div>
    <div class="char-test">R</div>
    <div class="char-test">s</div>
    <div class="char-test">S</div>
    <div class="char-test">t</div>
    <div class="char-test">T</div>
    <div class="char-test">u</div>
    <div class="char-test">U</div>
    <div class="char-test">v</div>
    <div class="char-test">V</div>
    <div class="char-test">w</div>
    <div class="char-test">W</div>
    <div class="char-test">y</div>
    <div class="char-test">Y</div>
    <div class="char-test">z</div>
    <div class="char-test">Z</div>
    <div class="char-test"> </div>
    <div class="char-test">.</div>
    <div class="char-test">,</div>
    <div class="char-test">"</div>
    <div class="char-test">'</div>
    <div class="char-test">!</div>
    <div class="char-test">?</div>
    <div class="char-test">“</div>
    <div class="char-test">”</div>
    <div class="char-test">◼</div>
</div>
<script async="" type="text/javascript" src="/js/calibrate.js"></script>
</body>
</html>