<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Literata&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8dda43898a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome.min.css">
    <script async="" type="text/javascript" src="/js/page.js"></script>
    <meta charset="UTF-8">
    <title th:text="${title}" />
</head>
<body>
<a href="/render/proxy/ecbe389a-e72a-4408-9f32-7609df30b2d8/?book=14167%2Fmetaworld-chronicles&chapter=215937%2Fchapter-131-prepatory&page=1">Chapter</a>
</body>
</html>